@font-face {
  font-family: 'Atyp Text';
  src: url('AtypText-Regular.woff2') format('woff2'),
  url('AtypText-Regular.woff') format('woff'),
  url('AtypText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}